#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
}

.mainarea{
  overflow-y: auto;
}

.mainarea::-webkit-scrollbar { 
  display: none; 
}

.header,.footer,.mainarea{
  background-color: #D979B5;
  border-radius: 10px;
  max-width: 1280px;
  /* background-color: #C03271; */
}

.sidenav{
  border: 3px solid #D979B5;
  border-radius: 10px;
  background-color: beige;
}

.sidenav,.mainarea{
  height: 100vh;
  box-sizing: border-box;
  margin: 20px auto;
}

.navlink{
  border-radius: 4px;
}

.link{
  text-decoration: none;
}

/* .hero{
  background-color: #ffabfe;
} */