#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.header,.footer{
  background-color: #D979B5;
  border-radius: 10px;
  /* background-color: #C03271; */
}

.hero{
  background-color: #ffabfe;
}